name: Unit Tests
on:
  push:
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      node-version: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node-version }}
      - name: NPM Install
        run: npm ci
      - name: Compile
        run: npm run build
      - name: Test
        run: npm test
